<form [formGroup]="formPromo">
  <div class="form-group">
    <p>
      <mat-form-field appearance="outline" color="accent">
        <mat-label for="name">Nome da Promoção</mat-label>
        <input
          matInput
          formControlName="name"
          id="name"
          name="name"
          placeholder="Leve 2 Pague 1"
        />
        <mat-hint>Tamanho máximo de 15 caracteres</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" color="accent">
        <mat-label for="promoKey">PromoKey</mat-label>
        <input
          matInput
          formControlName="promoKey"
          id="promoKey"
          name="promoKey"
          placeholder="LEV_2_PG_1"
        />
        <mat-hint>Tamanho máximo de 10 caracteres </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" color="accent">
        <mat-label for="promoType">Tipo de Promoção</mat-label>
        <mat-select formControlName="promoType" id="promoType" name="promoType">
          <mat-option value="RECORRENTE">Recorrente</mat-option>
          <mat-option value="UNICA">Unica</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>
  <div class="form-group submit-button">
    <button mat-flat-button color="accent">Enviar</button>
  </div>
</form>

<pre>
    {{ formPromo.value | json }}
</pre>
<pre>
    {{ formPromo.status | json }}
</pre>
